---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
  background-color: #155799;
  background-image: none;
}

.main-content {
  margin: 0px;
}

.main-content h1, .main-content h2, .main-content h3 {
  color: "black" !important;
}

body {
  color: auto;
}
