---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
  background-color: #155799;
  background-image: none;
}

.main-content {
  margin: 0px;
}

$section-headings-color: "black";

body {
  color: auto;
}
