---
---

@import "{{ site.theme }}";

.page-header {
  padding: 1rem;
  background-color: #155799;
  background-image: none;
}

.main-content {
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
}

body {
  color: auto;
}
